## Numpy Tutorials
Numpy is a general-purpose array-processing package.It provides a high performence multidimentional array object and tools for working with these days. It is fundamental package for scientific computing with Python.

### What is an Array
An Array is a data structure that stores values of same data type. In Python, this is the main difference between arrays and lists. While Python lists can contain values corresponding to difference data types, arrays in python can only contain values corresponding to same data type.

In [17]:
pip install numpy

Requirement already satisfied: numpy in c:\users\prish\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [19]:
#initially lets import numpy
import numpy as np #np is alis name and now iska koi bhi inbuilt function use krna then use np

In [21]:
my_list=[1,2,3,4,5]
arr=np.array(my_list) #array in built function/data type to create an array

In [25]:
type(arr)

numpy.ndarray

In [30]:
print(arr)

[1 2 3 4 5]

In [32]:
arr #this is 1d array

array([1, 2, 3, 4, 5])

In [36]:
arr.shape #helps to check number of rows and cols in array

(5,)

### Multidimenional Array

In [40]:
list1=[1,2,3,4,5]
list2=[3,4,6,7,8]
list3=[3,4,5,6,7]

arr=np.array([list1,list2,list3])

In [42]:
arr

array([[1, 2, 3, 4, 5],
       [3, 4, 6, 7, 8],
       [3, 4, 5, 6, 7]])

In [44]:
arr.shape

(3, 5)

In [52]:
#reshaping the array
#arranging the 15 elements in a diff way
#total elements must be equal
arr.reshape(5,3)

array([[1, 2, 3],
       [4, 5, 3],
       [4, 6, 7],
       [8, 3, 4],
       [5, 6, 7]])

In [54]:
arr.reshape(1,15)

array([[1, 2, 3, 4, 5, 3, 4, 6, 7, 8, 3, 4, 5, 6, 7]])

### Indexing

In [63]:
#Accesing the elements in the array

arr1=np.array([2,3,4,5,5,6])

In [65]:
#indexing in array starts from 0 onwards
arr1[3]

5

In [67]:
#for d2
arr

array([[1, 2, 3, 4, 5],
       [3, 4, 6, 7, 8],
       [3, 4, 5, 6, 7]])

In [69]:
arr[0][1]

2

In [73]:
# ":" indicates that pick up all the elements in rows/col (here rows)
arr[:][1]

array([3, 4, 6, 7, 8])

In [75]:
#nows lets suppose we have to pick up 1,2 from row 0 and 3,4 from row 1
#therefore we need 0th row and 1st row i.e 0 untill 2nd row
#similarly for col
arr[0:2,0:2]

array([[1, 2],
       [3, 4]])

In [79]:
#another example suppose u want to pick up 7,8 from row 1 and 6,7 from row 2
arr[1:3,3:5]
#or u can also write arr[1:,3:]

array([[7, 8],
       [6, 7]])

### Inbuilt Functions in NumPy

#### 1. Arrange

In [89]:
arr2=np.arange(0,10) #start stop and step
#creates 1d array

In [91]:
arr2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [97]:
arr3=np.arange(0,10,2)

In [99]:
arr3

array([0, 2, 4, 6, 8])

#### 2. linspace

In [107]:
np.linspace(1,10,50) # basically 1 to 10 i need 50 points and these 50 points wont be equally divided points

array([ 1.        ,  1.18367347,  1.36734694,  1.55102041,  1.73469388,
        1.91836735,  2.10204082,  2.28571429,  2.46938776,  2.65306122,
        2.83673469,  3.02040816,  3.20408163,  3.3877551 ,  3.57142857,
        3.75510204,  3.93877551,  4.12244898,  4.30612245,  4.48979592,
        4.67346939,  4.85714286,  5.04081633,  5.2244898 ,  5.40816327,
        5.59183673,  5.7755102 ,  5.95918367,  6.14285714,  6.32653061,
        6.51020408,  6.69387755,  6.87755102,  7.06122449,  7.24489796,
        7.42857143,  7.6122449 ,  7.79591837,  7.97959184,  8.16326531,
        8.34693878,  8.53061224,  8.71428571,  8.89795918,  9.08163265,
        9.26530612,  9.44897959,  9.63265306,  9.81632653, 10.        ])

#### 3. Copy() and broadcasting

In [116]:
arr5=[2,3,3,4,4,4,5,6]
arr6=np.array(arr5)

In [123]:
arr6[3:]=100 #this is called broadcasting

In [125]:
arr6

array([  2,   3,   3, 100, 100, 100, 100, 100])

In [127]:
arr7=arr6

In [129]:
arr7

array([  2,   3,   3, 100, 100, 100, 100, 100])

In [131]:
arr7[3:]=500

In [133]:
arr7

array([  2,   3,   3, 500, 500, 500, 500, 500])

In [135]:
arr6

array([  2,   3,   3, 500, 500, 500, 500, 500])

In [141]:
#if we put arr1=arr and make changes to arr1 then changes will also be made to arr
#this is called reference type i.e array is basically reference type
#here they are sharing same memory cell

In [143]:
#so in order to prevent this we use the copy function
arr7=np.array([3,4,5,6,7,8,9])

In [155]:
arr8=arr7.copy() #copy creates a diff memory cell

In [149]:
print(arr7)
arr8[3:]=100
print(arr8)

[3 4 5 6 7 8 9]
[  3   4   5 100 100 100 100]

In [153]:
arr7

array([3, 4, 5, 6, 7, 8, 9])

#### 4. Conditions useful in Exploratary Data Analysis

In [160]:
val=2

arr<2 #it goes on to check which all elements are less than 2 in the array

array([ True,  True, False, False, False, False, False, False, False,
       False])

In [164]:
 arr*2 #each element gets multiplied by 2 and similar for division and modulus operations

array([  0,   2,   4, 200, 200, 200, 200, 200, 200, 200])

In [166]:
#if we need elements that are less than 2
#then do this

val=2
arr[arr<2]

array([0, 1])

In [174]:
arr1=np.array([2,3,4,4,4])
arr2=np.array([23,4,5,5,6])

arr1*arr2

array([46, 12, 20, 20, 24])

#### 5. Arange and reshape

In [170]:
np.arange(0,10).reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

#### 6. Ones
Basically creates an array with all 1's

In [184]:
np.ones(4,dtype=float) #by default dtype is float

array([1., 1., 1., 1.])

In [186]:
np.ones((2,5),dtype=int) #2d arrays can also be made

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

#### 7. Random distribution

In [191]:
np.random.rand(3,3) #select random values of given shape between 0 to 1

array([[0.05912296, 0.24438041, 0.94123058],
       [0.54258454, 0.69507589, 0.02478197],
       [0.24473937, 0.93416064, 0.65692341]])

In [195]:
np.random.randn(4,4) #selects sample from standard normal distribution of given shape..inn numbers ka mean=1 and sd=0

array([[-1.95859328, -0.13716052,  0.26414506, -1.96671339],
       [ 0.01797352,  0.18741217, -1.16344877,  0.33385674],
       [ 0.52389256, -1.48668706,  0.11241792, -0.25361522],
       [ 2.15713437,  1.83611011, -0.68057115, -0.6118375 ]])

In [203]:
np.random.randint(0,100,8) #0 is lower limit 100 is upper limit and 8 is the size
#randint provides higher integer values

array([63, 35, 48, 90, 25, 87, 28, 46])

In [209]:
np.random.random_sample((1,5)) #provides random sample between [0 to 1)

array([[0.25560902, 0.15799562, 0.13827441, 0.03132771, 0.63968064]])