## Seaborn Tutotial

## Distribution Plots

- Distplot
- Joinplot
- Painplot

  Practice problem on IRIS Dataset

In [10]:
import seaborn as sns

In [9]:
df=sns.load_dataset("tips")

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4