## In this we will study about
- Sets
- Dictionary
- Nested Dictionary
- Tuples

## Sets
A  set is unordered collection data type that is iterable, Mutable and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hash table.

In [5]:
#Defining an empty set

set_var=set() #set() is inbuilt funcion
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [7]:
type(set_var)

set

In [13]:
set_var={"Avengers","Ironman","Hitman"} #{} braces to create sets
print(set_var)
type(set_var)

{'Avengers', 'Ironman', 'Hitman'}

set

In [17]:
set_var1={1,2,3,4,3}
print(set_var1) #3 wont be printed twice

{1, 2, 3, 4}

#### 1. Indexing in Sets

In [21]:
#set_var[0] wont work since sets dont support indexing
#set_var['Avengers'] also wont work
#diff way of getting elements from set

#### 2. Add

In [24]:
set_var.add("Hulk")

In [26]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [28]:
#everything like in maths...we can find diff union intersection of sets

#### 3. Difference

In [51]:
set1={"Avengers","Ironman","Hitman"}
set2={"Avengers","Ironman","Hitman","Iron2"}

In [37]:
set2.difference(set1) #common elements removed basically set2-set1 but set2 remains same

{'Iron2'}

#### 4. Difference_Update

In [44]:
set2.difference_update(set1) #now set2 will be updated with difference of set2-set1

In [46]:
print(set2)

{'Iron2'}

#### 5. Intersection

In [53]:
set2.intersection(set1) #common elements in both will be coming here

{'Avengers', 'Hitman', 'Ironman'}

In [55]:
#if we want that intersection answer to be stored in set 2 then use update
set2.intersection_update(set1)

In [57]:
print(set2)

{'Avengers', 'Ironman', 'Hitman'}

### Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. Python dictionaries are written with curly brackets and they have keys and values. Keys must be unique but values can be repeated.A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

In [65]:
dic={}

In [67]:
type(dic)

dict

In [69]:
dic1={1,2,3,4,5}

In [71]:
type(dic1)

set

In [111]:
#Lets make a dictionary

my_dic={"Car1":"Audi","Car2":"BMW","Car3":"Benz"} #key value pairs

In [81]:
type(my_dic)

dict

In [83]:
my_dic1=dict() #empty dictionary created

#### 1. Accessing the elements

In [88]:
my_dic['Car1'] #here indexing wont be your numbers but your key names

'Audi'

In [92]:
#we can even loop through the dictionary keys

for x in my_dic:
    print(x)

Car1
Car2
Car3

In [94]:
#we can even loop through the dictionary values

for x in my_dic.values():
    print(x)

Audi
BMW
Benz

In [96]:
#we can even loop through the dictionary values and keys both

for x in my_dic.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Benz')

#### 2. Updating/ Adding new item to dictionary

In [99]:
my_dic['car4']='Audi 2.0'

In [101]:
my_dic

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Benz', 'car4': 'Audi 2.0'}

In [117]:
my_dic['Car1']='Maruti' #updating 
#if we write values for already present keys then they get overwritten

In [119]:
my_dic

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Benz'}

### Nested Dictionaries

In [136]:
car1_model={'Mercedes':1938}
car2_model={'Benz':3834}
car3_model={'hunda':3939}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model} #created a nested dictionary

In [138]:
print(car_type)

{'car1': {'Mercedes': 1938}, 'car2': {'Benz': 3834}, 'car3': {'hunda': 3939}}

#### Accessing the items

In [141]:
print(car_type['car1'])

{'Mercedes': 1938}

In [145]:
print(car_type['car1']['Mercedes']) #we want to  capture 1938 to this is the method

1938

### Tuples
It is not mutable i.e once defined the elements of tuple cant be changed

In [150]:
my_tuple=tuple() #defining empty typle

In [152]:
type(my_tuple)

tuple

In [154]:
my_tuple=()

In [156]:
type(my_tuple)

tuple

In [158]:
my_tuple=("Prisha","Ankur","Niharika")

In [160]:
print(my_tuple)

('Prisha', 'Ankur', 'Niharika')

In [164]:
print(type(my_tuple))

<class 'tuple'>

In [166]:
my_tuple[0]

'Prisha'

In [170]:
#my_tuple[0]="Aggarwal" this statement will give an error since tuple items are not mutable
#although we can completely change the whole tuple but a particular item cant be changed

In [179]:
#tuples used only where once defination of something is required and nothing has to be changed or perfromed on that.

#### 1. Count

In [177]:
my_tuple.count("Prisha") #counts number of times a particular item is present

1

#### 2. Index

In [183]:
my_tuple.index('Prisha') #Tells index of particular item

0