# Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparision Operators

### Boolean Variables

Boolean Values are 2 constant objects True and False
They are used to represent values(other values can also be considered false or true)

In numeric contexts(for eg , when used as argument to an arithemic operator), they behave like integers 0 and 1 resp.

The built in bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value . They are written as False and True

In [12]:
#bool() function can be used to create boolean variable
bool()

False

In [14]:
print(True,False) # True False are in built boolean variables in python

True False

In [16]:
type(False)

bool

In [18]:
my_str='Prisha Aggarwal'

In [24]:
# write my_str. and press tab and u will find all the in built functions of strings in python

In [32]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words...title word basically means that first character is in upper case
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains contains a space
print(my_str.endswith('d')) #test if string ends with a d
print(my_str.startswith('a'))  #test if string starts with a

False
False
False
True
False
False
False
False
False

### Boolean and Logical Operators

In [35]:
True and False

False

In [37]:
True and True

True

In [39]:
True or False

True

In [41]:
True or True

True

In [43]:
str_example='Hello World'
my_str='Prisha'

In [45]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable or changeable ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes,List are defined by having values between square brackets[].

In [56]:
type([])

list

In [66]:
lst_example=[] #empty list

In [68]:
type(lst_example)

list

In [70]:
lst=list() #another way of creating an empty list using in built function called list

In [72]:
type(lst)

list

In [74]:
lst=['mathematics','chem',2,3,100] #list can have diff data types

In [76]:
type(lst)

list

In [80]:
len(lst) #number of items in a list

5

#### Indexing in list

In [101]:
lst[2] #indexing starts from zero

2

In [105]:
#indexing can be done with range of values
lst[:] #: picks all the elements of the list

['mathematics', 'chem', 2, 3, 100, 'Prisha', 'Prisha']

In [109]:
lst[1:] #from 1st index to last element

['chem', 2, 3, 100, 'Prisha', 'Prisha']

In [111]:
lst[1:3] #from 1st index element to end-1 index wala element printed

['chem', 2]

### Inbuilt functions of list
#### 1. Append

In [91]:
#append is used to add elements in the list 
# element is added in the end of the list
lst.append("Prisha")

In [93]:
lst

['mathematics', 'chem', 2, 3, 100, 'Prisha', 'Prisha']

In [113]:
lst.append(['hello','world']) #appending two elements in the list creates a nested list

In [115]:
lst

['mathematics', 'chem', 2, 3, 100, 'Prisha', 'Prisha', ['hello', 'world']]

#### 2. Insert

In [117]:
# insert at a particular index

lst.insert(1,"Prisha") #1st index par prisha added

In [119]:
lst

['mathematics',
 'Prisha',
 'chem',
 2,
 3,
 100,
 'Prisha',
 'Prisha',
 ['hello', 'world']]

In [121]:
lst1=[1,2,3]

In [125]:
lst1.insert(3,4)

In [127]:
lst1

[1, 2, 3, 4]

#### 3.Extend

In [131]:
lst2=[1,2,3,4,5,6]

In [137]:
lst2.extend([8,9]) #extend se if we give two elements then they are added as seperate elements and not as list

In [139]:
lst2

[1, 2, 3, 4, 5, 6, 8, 9, 8, 9]

#### 4. Sum and various operations in list

In [146]:
lst3=[1,2,3,4,5]

In [152]:
sum(lst3) #adds all the numbers inside the list and gives us the output

15

In [196]:
lst3*2 #every value wont be multiplied by 2 but instead whole list will be appended again

[2, 2]

#### 5. Pop()

In [168]:
lst3.pop() #by default we dont give any index value then it deletes the last value and return it

3

In [164]:
lst3.pop(0)

1

In [166]:
lst3

[2, 3]

#### 6. Count

In [171]:
#Count calculates total occurence of given element of List
lst4=[1,3,5,7,7,7]
lst4.count(7)

3

In [175]:
len(lst4) #calculates the total length of list

6

#### 7. Index

In [180]:
#index retunrs the index of first occurence. Start and End Index are not necesaary parameter
lst5=[3,4,5,67,6,7]

In [186]:
lst5.index(6,0,5) #6 is the value and 0 to 5 are index

4

In [188]:
lst5.index(67)

3

#### 8. Min and Max

In [191]:
min(lst5)

3

In [193]:
max(lst5)

67